<div class="background">
    <div class="background-color">
        <div class="border">
            <div class="form">
                <div class="nav-start">
                    <a routerLink="/labtv"><img src="../../../../assets/immagini/logo.png" alt="Torna all' inizio"></a>
                </div>
                <h2>Benvenuto in LabTv!</h2>
                <mat-form-field>
                <mat-label>Inserisci la tua email</mat-label>
                <input matInput #emailField="ngModel" [(ngModel)]="email" placeholder="labtv@example.com" type="email" name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                <mat-error *ngIf="emailField.hasError('required')">Email obbligatoria</mat-error>
                <mat-error *ngIf="emailField.hasError('pattern')">Email non valida</mat-error>
                </mat-form-field>
                <button mat-raised-button (click)="onAddEmail(email)">Vai avanti</button>
            </div>
            
        </div>
    </div>
</div>