<div class="background">
    <div class="background-color">
        <div class="nav-start">
            <img src="../../../../assets/immagini/logo.png" alt="">
            <a mat-raised-button routerLink="/login">ACCEDI</a>
        </div>
        <div class="contenuto">
            <h1>Film illimitati, serie tv e molto altro</h1>
            <h3>Inserisci la tua email per vedere tutti i contenuti LabTV</h3>
            <div class="btn-register">
                <mat-form-field>
                    <mat-label>Inserisci la tua email</mat-label>
                    <input matInput #emailField="ngModel" [(ngModel)]="email" placeholder="labtv@example.com" type="email" name="email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                </mat-form-field>
                <button mat-raised-button (click)="onAddEmail(email)">REGISTRATI</button>
            </div>
        </div>
    </div>
</div>
