  <div *ngIf="detail" class="film-detail-wrapper" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original' + detail.backdrop_path + ')'}">
    <div class="film-detail-overlay">
      
      <div class="film-main-content">
        <img class="film-poster" src="https://image.tmdb.org/t/p/w300{{ detail.poster_path }}" alt="{{ detail.title }}" />
  
        <div class="film-meta">
          <h1 class="film-title">{{ detail.title }}</h1>
          <h4 class="film-tagline">{{ detail.tagline }}</h4>
  
          <div class="film-buttons">  
            <button mat-flat-button color="primary" #button class="trailer-button" [disabled]="isDisabled" (click)="openTrailer()">
              <mat-icon>ondemand_video</mat-icon> Trailer
            </button>
  
            <button *ngIf="!isFilmAcquistato(detail)" mat-icon-button aria-label="Aggiungi ai preferiti" (click)="acquistafilm(detail)">
              <mat-icon>add</mat-icon>
            </button>

            <button *ngIf="isFilmAcquistato(detail)" mat-icon-button aria-label="Rimuovi dai preferiti" (click)="rimuovi(detail)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
  
          <div class="film-genres">
            <mat-chip-list>
              <mat-chip *ngFor="let genre of detail.genres" color="accent">{{ genre.name }}</mat-chip>
            </mat-chip-list>
          </div>
  
          <p class="film-overview">{{ detail.overview }}</p>
        </div>
      </div>
  
      <div class="film-section cast">
        <h3>Cast Principale</h3>
        <div class="cast-list">
          <div class="cast-item" *ngFor="let c of cast | slice:0:5">
            <strong>{{ c.character }}</strong> <span>- {{ c.name }}</span>
          </div>
        </div>
      </div>
  
      <div class="carousel-container">
        <h3>Film consigliati :</h3>
        <button mat-icon-button class="arrow left" (click)="scrollLeft()">
          <mat-icon>chevron_left</mat-icon>
        </button>
    
        <div class="similar-movie-list" #carousel (mousedown)="startDrag($event)" (mousemove)="onDrag($event)" (mouseup)="endDrag()" (mouseleave)="endDrag()">
          <ng-container *ngFor="let movie of similar">
            <div class="movie-card" *ngIf="movie.poster_path">
              <img src="https://image.tmdb.org/t/p/original{{movie.poster_path}}" alt="{{movie.title}}">
              <p>{{movie.title}}</p>
            </div>
          </ng-container>
        </div>
    
        <button mat-icon-button class="arrow right" (click)="scrollRight()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </div>
<app-video *ngIf="selectedVideoKey" [videoKey]="selectedVideoKey" (chiudi)="chiudiVideo()"></app-video>
</div>