.background{
    background-image: url(../../../assets/immagini/accedi.jpg);
    background-size: cover;
    min-height: 100vh;
}

.background-color{
    background-color: rgba(0, 0, 0, 0.753);
    width: 100vw;
    height: 100vh;
}

form{
    max-width: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
form h2{
    font-size: 2em;
    margin-top: 20px;
}

.button-container{
    max-width: 400px;
    text-align: center;
    display: flex;
    margin: 20px auto 5px;
    justify-content: space-around;
    align-items: center
}

.button-container p{
    color: white;
    font-size: 1rem;
}

.button-container a{
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    margin-left: 5px;
}

.button-container a:hover{
    text-decoration: underline;
}

.mdc-button{
    min-width: 150px; 
    margin: auto;
    color: black;
}

.nav-start img{
    width: 30%;
}

.border{
    border: 2px solid white;
    border-radius: 10px;
    max-width: 800px;
    padding: 30px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.829);
    position: relative;
    top: 11%;
}

.label{
    font-size: 1.3em;
    margin-bottom: 10px;
    text-decoration: underline;
}

.email{
    margin: 0 auto 15px;
    font-size: 1.1em;
}