<app-slider-principale></app-slider-principale>
<div class="container">

    <div class="carousel-container">
      <h2>I più popolari su LabTV</h2>
      <div class="carousel" #carousel>
        <div class="card2" *ngFor="let film of films">
          <img src="https://image.tmdb.org/t/p/w300{{film.backdrop_path}}" alt="{{ film.title }}" [routerLink]="['/homepage', film.id]"/>
          <div class="overlay">
            <h4>{{ film.title }}</h4>
          </div>
        </div>
      </div>
      <button class="nav prev" (click)="scrollCarousel('left', 0)">&#10094;</button>
      <button class="nav next" (click)="scrollCarousel('right', 0)">&#10095;</button>
    </div>

    <div class="carousel-container">
      <h2>Guarda ora</h2>
      <div class="carousel" #carousel>
        <div class="card2" *ngFor="let film of nowPlaying">
          <img src="https://image.tmdb.org/t/p/w300{{film.backdrop_path}}" alt="{{ film.title }}" [routerLink]="['/homepage', film.id]"/>
          <div class="overlay">
            <h4>{{ film.title }}</h4>
          </div>
        </div>
      </div>
      <button class="nav prev" (click)="scrollCarousel('left', 1)">&#10094;</button>
      <button class="nav next" (click)="scrollCarousel('right', 1)">&#10095;</button>
    </div>

    <div class="carousel-container">
      <h2>I più visti</h2>
      <div class="carousel" #carousel>
        <div class="card2" *ngFor="let film of topRated">
          <img src="https://image.tmdb.org/t/p/w300{{film.backdrop_path}}" alt="{{ film.title }}" [routerLink]="['/homepage', film.id]"/>
          <div class="overlay">
            <h4>{{ film.title }}</h4>
          </div>
        </div>
      </div>
      <button class="nav prev" (click)="scrollCarousel('left', 2)">&#10094;</button>
      <button class="nav next" (click)="scrollCarousel('right', 2)">&#10095;</button>
    </div>

    <div class="carousel-container">
      <h2>Prossime uscite</h2>
      <div class="carousel" #carousel>
        <div class="card2" *ngFor="let film of upcoming">
          <img src="https://image.tmdb.org/t/p/w300{{film.backdrop_path}}" alt="{{ film.title }}" [routerLink]="['/homepage', film.id]"/>
          <div class="overlay">
            <h4>{{ film.title }}</h4>
          </div>
        </div>
      </div>
      <button class="nav prev" (click)="scrollCarousel('left', 3)">&#10094;</button>
      <button class="nav next" (click)="scrollCarousel('right', 3)">&#10095;</button>
    </div>
</div>
