<!--<div class="hero">
    <img src="https://image.tmdb.org/t/p/original{{films[numFilm].backdrop_path}}" *ngIf="films[numFilm].backdrop_path">
    <div class="box-contenuto">
        <h2>{{films[numFilm].title}}</h2>
        <p>{{films[numFilm].overview}}</p>
        <button mat-raised-button class="right">Riproduci film</button>
        <button mat-raised-button>Altre info</button>
    </div>
</div>
<div class="gradient"></div>
<div class="container">
    <h2>I più popolari su LabTV</h2>
    <div class="wrap">
        <div class="card" *ngFor="let film of films">
            <a [routerLink]="['/home', film.id]"><img src="https://image.tmdb.org/t/p/w300{{film.backdrop_path}}"></a> 
        </div>
    </div>
    <h2 class="padding-right">Guarda ora</h2>
    <div class="wrap">
        <div class="card" *ngFor="let film of nowPlaying">
            <a [routerLink]="['/home', film.id]"><img src="https://image.tmdb.org/t/p/w300{{film.backdrop_path}}"></a> 
        </div>
    </div>
    <h2>I più visti</h2>
    <div class="wrap">
        <div class="card" *ngFor="let film of topRated">
            <a [routerLink]="['/home', film.id]"><img src="https://image.tmdb.org/t/p/w300{{film.backdrop_path}}"></a>
        </div>
    </div>
    <h2>Prossime uscite</h2>
    <div class="wrap">
        <div class="card" *ngFor="let film of upcoming">
            <a [routerLink]="['/home', film.id]"><img src="https://image.tmdb.org/t/p/w300{{film.backdrop_path}}"></a> 
        </div>
    </div>
</div>-->
