<div class="box-ricerca">
  <input type="text" placeholder="Titolo del film..." [(ngModel)]="ricerca" (keyup)="cerca()">
  <p (click)="cancella()">X</p>
</div>  
  
@if(ricerca){
  <app-film-ricerca [fCercato]="filmCercati"></app-film-ricerca>
}@else{
  <div class="container">
    <ng-container *ngFor="let f of films">
        <div class="card">
            <a [routerLink]="['/homepage', f.id]">
            <img mat-card-image src="https://image.tmdb.org/t/p/w300{{ f.poster_path }}">
            </a>
      </div>
    </ng-container>
</div>

}